/**
 * Presentation Styles
 */
slides > slide.logoslide {
  background: #3a99d7;
  position: relative;
}
slides > slide.logoslide img {
  width: auto;
  height: auto;
}
slides > slide.logoslide img.webcomponents {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}
slides > slide.logoslide img.wc-parts {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
slides > slide.logoslide img.customelements {
  -webkit-animation: customelementsOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: customelementsOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: customelementsOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: customelementsOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.logoslide img.htmlimports {
  -webkit-animation: htmlimportsOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: htmlimportsOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: htmlimportsOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: htmlimportsOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.logoslide img.templates {
  -webkit-animation: templatesOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: templatesOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: templatesOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: templatesOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.logoslide img.shadowdom {
  -webkit-animation: shadowdomOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: shadowdomOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: shadowdomOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: shadowdomOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.webcomponents-list .web-animation {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  right: 10%;
}
slides > slide.webcomponents-list .web-animation img {
  width: auto;
  height: auto;
}
slides > slide.webcomponents-list .web-animation img.webcomponents {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  -webkit-animation: webcomponentsRotate 16s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: webcomponentsRotate 16s linear infinite;
  /* Firefox 5-15 */
  -o-animation: webcomponentsRotate 16s linear infinite;
  /* Opera 12+ */
  animation: webcomponentsRotate 16s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.webcomponents-list .web-animation img.wc-parts {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
slides > slide.webcomponents-list .web-animation img.customelements {
  -webkit-animation: customelementsOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: customelementsOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: customelementsOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: customelementsOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.webcomponents-list .web-animation img.htmlimports {
  -webkit-animation: htmlimportsOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: htmlimportsOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: htmlimportsOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: htmlimportsOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.webcomponents-list .web-animation img.templates {
  -webkit-animation: templatesOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: templatesOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: templatesOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: templatesOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
slides > slide.webcomponents-list .web-animation img.shadowdom {
  -webkit-animation: shadowdomOrbit 8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: shadowdomOrbit 8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: shadowdomOrbit 8s linear infinite;
  /* Opera 12+ */
  animation: shadowdomOrbit 8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
@-webkit-keyframes webcomponentsRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes webcomponentsRotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes webcomponentsRotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes webcomponentsRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes customelementsOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}
@-moz-keyframes customelementsOrbit {
  from {
    -moz-transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}
@-o-keyframes customelementsOrbit {
  from {
    -o-transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}
@keyframes customelementsOrbit {
  from {
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}
@-webkit-keyframes htmlimportsOrbit {
  from {
    -webkit-transform: rotate(0deg) translateY(200px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(200px) rotate(-360deg);
  }
}
@-moz-keyframes htmlimportsOrbit {
  from {
    -moz-transform: rotate(0deg) translateY(200px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateY(200px) rotate(-360deg);
  }
}
@-o-keyframes htmlimportsOrbit {
  from {
    -o-transform: rotate(0deg) translateY(200px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateY(200px) rotate(-360deg);
  }
}
@keyframes htmlimportsOrbit {
  from {
    transform: rotate(0deg) translateY(200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(200px) rotate(-360deg);
  }
}
@-webkit-keyframes templatesOrbit {
  from {
    -webkit-transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}
@-moz-keyframes templatesOrbit {
  from {
    -moz-transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(200px) rotate(-360deg);
  }
}
@-o-keyframes templatesOrbit {
  from {
    -o-transform: rotate(0deg) translateX(-200px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(-200px) rotate(-360deg);
  }
}
@keyframes templatesOrbit {
  from {
    transform: rotate(0deg) translateX(-200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-200px) rotate(-360deg);
  }
}
@-webkit-keyframes shadowdomOrbit {
  from {
    -webkit-transform: rotate(0deg) translateY(-200px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-200px) rotate(-360deg);
  }
}
@-moz-keyframes shadowdomOrbit {
  from {
    -moz-transform: rotate(0deg) translateY(-200px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateY(-200px) rotate(-360deg);
  }
}
@-o-keyframes shadowdomOrbit {
  from {
    -o-transform: rotate(0deg) translateY(-200px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateY(-200px) rotate(-360deg);
  }
}
@keyframes shadowdomOrbit {
  from {
    transform: rotate(0deg) translateY(-200px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(-200px) rotate(-360deg);
  }
}
slides > slide:not(.nobackground):before {
  display: none;
}
slides > slide.title-slide > .logos {
  padding-left: 115px;
  margin-bottom: 30px;
}
slides > slide.title-slide > .logos > .separator {
  font-size: 150px;
}
slides > slide.title-slide > .logos > .polymer {
  position: relative;
  bottom: -20px;
  height: 175px;
}
slides > slide.title-slide > hgroup {
  position: relative;
  bottom: auto;
}
slides > slide.title-slide > hgroup > h1 {
  font-size: 58px;
}
slides > slide.big-task h2 {
  font-size: 35px;
}
slides > slide.twitter-page .holder {
  display: flex;
}
slides > slide.twitter-page .holder > .screenshot {
  flex: 1.5;
}
slides > slide.twitter-page .holder > .components-list {
  flex: 1;
  padding-left: 30px;
}
slides > slide.libraries ul {
  margin-left: 0;
}
slides > slide.libraries ul > li:before {
  display: none;
}
slides > slide.libraries ul > li > a {
  display: flex;
  border-bottom: none;
  color: #AC0303;
  font-weight: bold;
}
slides > slide.libraries ul > li > a > img {
  flex-basis: 80px;
  height: 80px;
  margin-right: 20px;
}
slides > slide.libraries ul > li > a > p {
  height: 80px;
  line-height: 80px;
  flex: 1 1 auto;
  margin-bottom: 0;
}
